body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blue-color{
    color: blue;
    font-size: 40px;   
}
.display-flex{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
    margin: 3%;
}
.half-width img{
    width: 60%;
}
.top{
    border-left: cornflowerblue solid 5px;
    padding-left: 7px;
}
.link-button{
    text-decoration: none;
background-image: linear-gradient(pink, red);
padding: 10px 40px;
color: white;
font-weight: 700;
border-radius: 5px;
}
.high-para{
    font-size: large;
    font-style: bold;
}
.mission-2022{
    text-align: center;
}
.Box{
    width: 50%;
    margin-right: 1%;
    margin-left: 1%;
    border: solid 1px;
    padding: 2%;
    border-radius: 10px; 
}
.imgd{
    width: 150px;
}
#one{
    background-color: cornflowerblue;
}
#two{
    background-color: cyan;
}
#three{
    background-color: darkorange;
}
#img-big{
    width: 500px;
    float: right;
}
.back-img{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-y: 150px;
    background-position-x: 20px;
}